p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main {
  padding-top: 60px;
}
button.btn {
  background-color: #025071;
  color: #fff;
}
.main-left {
  background-color: rgba(66, 124, 210, 0.12);
  margin: 10px 0;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
}
.main-left .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-left .content h1 {
  font-size: 77px;
  color: #025071;
}
.main-left .content h4 {
  color: #9fa9b3;
}
.main-right {
  background-color: rgba(66, 124, 210, 0.12);
  position: relative;
  overflow: hidden;
  height: 190px;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
}

.main-right img {
  width: 117px;
  position: absolute;
}
.main-right.one img {
  right: 1px;
  bottom: -24px;
  transform: rotate(16deg);
  overflow: hidden;
}
.main-right button {
  position: absolute;
  bottom: 20px;
}

.main-right.all .images {
  position: absolute;
  bottom: 118px;
  right: 124px;
  transform: rotate(-24deg);
}
.main-right.all .images .f {
  transform: rotate(-37deg);
  left: -58px;
  top: 12px;
}
.main-right.all .images .s {
  transform: rotate(-18deg);
  left: -25px;
  top: -6px;
}
.main-right.all .images .t {
  transform: rotate(-16deg);
  left: 18px;
}
.main-right.all button {
  bottom: 50px;
}
.main a {
  text-decoration: none;
  color: #000;
}
.field {
  background-image: radial-gradient(
    66.56% 81.56% at 47% 50%,
    #fff 0,
    #025071 85%
  );
  border-radius: 20px;
  padding: 43px;
  font-size: 24px;
  text-align: center;
  margin: 10px 10px;
  position: relative;
  transition: 3s;
}
.field p {
  font-size: 15px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;

}
.field .name-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.field img {
  transition: .9s;
 
}
.field:hover img {
 
  position: absolute;
  /* top: 0;
  left: 0; */
  right: 0;
  bottom: 0;
 
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    68.56% 70.56% at 47% 50%,
    #fff 0,
    #025071 100%
  );
  border-radius: 20px;
  animation-name: example;
  animation-duration: .9s;
}
.Field-word {
  padding: 25px 0;
  text-align: center;
  position: relative;
  color: #025071;
}
.Field-word::after {
  content: "";
  position: absolute;
  width: 20%;
  background-color: #025071;
  height: 4px;
  top: 85%;
  left: 40.5%;
  border-radius: 12px;
}
.Field-word::before {
  content: "";
  position: absolute;
  width: 18%;
  background-color: #025071;
  height: 4px;
  top: 98%;
  left: 42%;
  border-radius: 12px;
}
@keyframes example {
  0% {
    width: 0%;
    height: 0%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1025px) {
  .book-main {
    display: none;
  }
  .book-main > .row {
    justify-content: center;
  }
}

@media (max-width: 783px) {
  .main-left img {
    width: 100%;
    padding: 14px 0;
  }
  .main-left {
    margin: 10px;
  }
  .field {
    padding: 16px;
    font-size: 18px;
  }
}
