/* Turquoise  */
.logo {
  width: 100px;
}
.logo_user {
  width: 40px;
}
nav {
  background-color: #025071;
}
nav.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}
.navbar-collapse ul {
  width: 100%;
  text-align: center;
  /* direction: ltr; */
}
.navbar-collapse ul li .nav-link {
  color: #fff;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.navbar-collapse ul li .nav-link.active {
  color: #fff;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.cart-link {
  font-size: 18px;
  padding: 0px 11px;
}
.cart-link i {
  color: #fff;
}
.cart-link .fa-heart {
  color: red;
}
nav .Cart-price {
  position: relative;
}
nav .Cart-price span {
  position: absolute;
  color: red;
  top: -17px;
  left: 16px;
  font-size: 15px;
  font-weight: 600;
}
.navbar-brand span {
  color: #fff;
  font-size: 21px;
}
